body {
    background-color: rgb(18, 160, 82);
}

.box-shadow {box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05) }

#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #customers tr:nth-child(even){background-color: #f2f2f2;}
  
  #customers tr:hover {background-color: #ddd;}
  
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white
  }

  #addBtn:link,   #addBtn:visited {
    background-color: blue;
    color: white;
    padding: 2px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  #addBtn:hover,  #addBtn:active {
    background-color: red;
  }

  /* The alert message box */
.alert {
  padding: 20px;
  background-color:teal; /* Red */
  color: white;
  margin-bottom: 15px;
}

/* The close button */
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
  color: black;
}

h1 { font-family: Arial Rounded MT Bold, Helvetica Rounded, Arial, sans-serif; 
    font-size: 24px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 700; 
    line-height: 26.4px; } 
h3 { font-family: Arial Rounded MT Bold, Helvetica Rounded, Arial, sans-serif; 
    font-size: 14px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 700; 
    line-height: 15.4px; } 
p { font-family: Arial Rounded MT Bold, Helvetica Rounded, Arial, sans-serif; 
    font-size: 14px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
    line-height: 20px; } 
blockquote { font-family: Arial Rounded MT Bold, Helvetica Rounded, Arial, sans-serif; 
    font-size: 21px; 
    font-style: normal; font-variant: normal; font-weight: 400; line-height: 30px; } pre { font-family: Arial Rounded MT Bold, Helvetica Rounded, Arial, sans-serif; font-size: 13px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 18.5667px; }